body {
    background: #fff;
}

.page-title {
    color: #222222;
}

.theme {
    background: #ffffff;
    box-shadow: 0 0 10px rgba(39,38,40,0.4);
}

.title {
    color: #222222;
}

.AboutGames {
    color: #222222;
}

.AboutUs {
    color: #222222;
}

.AboutRiot p {
    color: #222222;
}

.AboutRiotGames {
    color: #222222;
}